.pickerito {
  /* border: 2px solid #007BFF; */
  /* border-radius: 10px; */
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s;
}

.pickerito-grp input[type=number] {
  padding: 2px;
  /* border: 2px solid #007BFF; */
  /* border-radius: 10px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s; */
}

.pickerito-grp input[type=text] {
  padding: 46x;
  width: 70%;
  /* border: 2px solid #007BFF; */
  /* border-radius: 10px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s; */
}

.pickerito-grp .react-datepicker__month {
  background-color: white;
}